@import "reset.css";
@import "parts/_container.css";
@import "parts/_header.css";
@import "parts/_main.css";
@import "parts/_footer.css";
@import "parts/_btn.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
img{
    width: 100%;
    
}
a{
    display: inline-block;
    
}
ul{
    list-style-type: none;
}
